*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteiner{
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    margin: 1rem auto;
}

/*

#grid{
    width: 100vw;
    height: 100vh;
    color: red;
    font-size: .9rem;
    display: inline-flex;
    flex-wrap: wrap;
}

.row{
    width: 100%;
}

.cell{
    padding: 5px;
    border: 1px solid rgb(223, 223, 223);
    display: inline;
}

*/